---
import Base from '@/layouts/Base.astro';
import Banner from '@/components/Banner.astro';
import { languages, useTranslations, type LanguageKey } from '@/i18n/i18n.ts';
import { resolveAsset } from '@/utils/paths.ts';
import { defaultLocale } from '@/i18n/i18n.ts';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getEntry } from 'astro:content';
import { sanitizeHtml } from '@/utils/sanitize.ts';

const config = await getEntry('config', 'site');
const { heroVideo, website: { username, socials } } = config!.data;
const blogSocial = socials.find(s => s.name === 'Blog');
const blogUrl = blogSocial && blogSocial.url ? `${blogSocial.url}/${Astro.currentLocale}` : '';
const t = useTranslations(Astro.currentLocale as LanguageKey);

export function getStaticPaths() {
  return Object.keys(languages).map((language) => ({
    params: { language },
  }));
}
---

<Base title={t('Navbar-1')}>
  <main class="md:min-h-screen min-h-auto">
    <Banner>
      <h1 class="text-3xl md:text-6xl font-semibold px-4">
        {t('Hero-Greeting', {
          name: username
        })}<br/>
        <Fragment set:html={sanitizeHtml(t('Hero-Intro', {
          appsLink: `<a class="highlight" href="${getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, '/work')}">${t('Hero-Apps')}</a>`
        }))} />
        
        <Fragment set:html={sanitizeHtml(t('Hero-CTA', {
          articlesLink: `<a class="highlight" href="${blogUrl}">${t('Hero-BlogLink')}</a>`,
          resumeLink: `<a class="highlight" href="${getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, '/resume')}">${t('Hero-Resume')}</a>`
        }))} />
      </h1>
    </Banner>

    <section class="mb-16">
      <h2 class="sr-only">{t('NewestWork-1')}</h2>
      <div style="background-color: black;" class="aspect-video flex justify-center mx-4 rounded-lg">
        <video class="w-full h-full" width="720" height="540" autoplay loop muted playsinline poster={resolveAsset(heroVideo.poster)}>
          {heroVideo.sources.map((source: { src: string; type: string }) => (
            <source src={resolveAsset(source.src)} type={source.type} />
          ))}
        </video>
      </div>
    </section>
  </main>
</Base>
